# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python\GLA-SEM3-Toolkit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
